<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Tables Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	 crossorigin="anonymous">
	<link href="../css/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-3 text-center"><span class="oi oi-fire"></span>Hot Restaurant</h1>
			<hr class="my-2">
			<h2 class="text-center">Current Reservations and Waiting List</h2>
			<p class="lead text-center">
				<a href="make-reservation"><button type="button" class="btn btn-danger"><span class="oi oi-credit-card"></span> Make Reservations</button></a>
				<a href="/"><button type="button" class="btn btn-outline-primary"><span class="oi oi-home"></span></button></a>
			</p>
		</div>
		
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	 crossorigin="anonymous"></script>
</body>

</html>